.header {
    text-align: center;
    font-family: cursive;
    text-shadow: 1px 1px 1px darkgrey;
    font-weight: bold;
    padding: 5px;
}
body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/abstract-attractive-backdrop-988872.jpg")
}

.bodyBox {
    padding: 5px;
    height: 100%;
}
#login {
    padding: 3px;
    align: center;
}
.playerScore {
    font-size: 12px;
}
.playerName {
    font-size: 16px;
}
.middleSpace {
    display: none;
}
#chatInput {
    width: 80%;
}
#chatInputDiv {
    width: 100%;
    padding: 3px;
}
#chatbox {
    text-align: left;
    height:200px;
    width: 100%;
    overflow: scroll;
    margin: 3px;
}
.btn {
    margin: 1px;
}

@media screen and (max-width: 575px) {
    #chatInput {
        width: 100%;
    }
}